/* ================= NAVBAR ================= */


  .logo-section {
    width: calc(100% - 60px);
  }

  .logo-section img {
    width: 44px;
  }

  .logo-text h1 {
    font-size: 18px;
  }

  .logo-text p {
    font-size: 10px;
  }

  /* HAMBURGER */

  .menu-toggle {
    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 28px;

    cursor: pointer;

    color: #005c45;

    width: 40px;

    height: 40px;
  }

  /* MOBILE MENU */

  .nav-links {
    display: none !important;

    flex-direction: column;

    align-items: flex-start;

    position: absolute;

    top: 100%;

    left: 0;

    width: 100%;

    background: white;

    padding: 10px 0;

    box-shadow: 0 10px 20px rgba(0,0,0,0.08);

    border-top: 1px solid #eee;
  }

  .nav-links.active {
    display: flex !important;
  }

  .nav-links a {
    width: 100%;

    padding: 16px 24px;

    border-bottom: 1px solid #f1f1f1;
  }