rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /resources/{allPaths=**} {
      // Semua user dapat membaca file resource.
      allow read: if true;

      // Semua user dapat mengunggah file ke folder resources/.
      allow write: if true;
    }
  }
}
